{
    "host_ftp" : "<FTP HOST>",
    "usuario_ftp" : "<FTP USER>",
    "pass_ftp" : "<FTP PASS>",
    "meses_mantener" : "<CANTIDAD MESES PRESERVAR CORREOS>",
    "dominios_respaldo" : [<LISTA DOMINIOS EN CORREOS A RESPALDAR>],
    "ignorados" : [<DIRECCIONES CORREOS IGNORADAS>],
    "directorio_respaldo" : "<DIRECTORIO DONDE SE GUARAN LOS CORREOS>"
}